{% extends 'main/base.html' %}

{% block title %}
Simple Data Entry | Title
{% endblock %}
{% block content %}
    <h1>You just added:</h1>
    <ul>
        <li>{{CurrentDataItem.name}}</li>
        <li>{{CurrentDataItem.age}}</li>
        <li>{{CurrentDataItem.title}}</li>
        <li>{{CurrentDataItem.hometown}}</li>
        <li>{{CurrentDataItem.id}}</li>

    </ul>
    <h1>The Rest of them are:</h1>
    {% for item in DataList %}
    <ul>
        {% if item != CurrentDataItem %}
        <li>{{item.name}}</li>
        <li>{{item.age}}</li>
        <li>{{item.title}}</li>
        <li>{{item.hometown}}</li>
        <li>{{item.id}}</li>
        {% endif %}

    </ul>

    {% endfor %}

{% endblock %}